.container {
  width: 136rem;
  min-height: 70rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   background-color: red;
}

.result {
  margin-top: 5rem;
  font-size: 3.2rem;
  &__name {
    font-size: 4rem;
    border-bottom: 1px solid lightblue;
    height: 6.4rem;
    text-align: left;
    padding-left: 2rem;
    line-height: 6.4rem;
    font-weight: 400;
    position: relative;
    & .flag {
      margin-left: 5rem;
      width: 6.4rem;
      height: auto;
      position: absolute;
    }
  }

  &__temperature {
    font-size: 3rem;
    display: inline;
  }

  &__box {
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    height: 53rem;
    width: 100%;
    background-color: #f2f2f2;
  }

  &__info {
    float: left;
    width: 20%;
    height: 85%;
    border-right: 1px solid black;
    &:last-of-type {
      border-right: none;
    }
  }

  &__day-wrapper {
    position: relative;

    & img {
      position: absolute;
      height: 9rem;
      width: auto;
      top: 23%;
      left: 60%;
    }
  }

  &__day {
    margin-left: 2rem;
    display: inline;
    border-bottom: 1px solid lightblue;
    font-size: 3rem;
    font-weight: lighter;
  }

  &__description {
    display: block;
    margin-left: 2rem;
    font-size: 1.5rem;
    height: 5rem;
    line-height: 5rem;
    font-style: italic;
    font-weight: 100;
  }

  &__details {
    padding: 2rem 1rem;
    font-size: 2.6rem;

    & span {
      display: block;
      font-size: 2rem;
      height: 5rem;
      line-height: 5rem;
      border-top: 1px solid grey;
      & i {
        margin-right: 2rem;
        color: darkblue;
      }
    }
  }
}
