.result__name {
  font-size: 4rem;
  border-bottom: 1px solid lightblue;
  height: 6.4rem;
  text-align: left;
  padding-left: 2rem;
  line-height: 6.4rem;
  font-weight: 400;
  position: relative;
  & .flag {
    margin-left: 5rem;
    width: 6.4rem;
    height: auto;
    position: absolute;
  }
}
