.home {
  background-image: url("/src/assets/images/bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95%;
  //   background: red;

  &__icon {
    position: absolute;
    top: 70%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & img {
      width: 7rem;
      height: auto;
    }

    &-para {
      margin-top: 0.5rem;
      color: white;
      font-size: 1.6rem;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__info {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
      font-size: 5rem;
      font-weight: 100;
      color: #ccc;
    }
    & h1 {
      margin-bottom: 1rem;
      font-size: 2rem;
      color: #ccc;
      font-weight: 100;
    }
    & img {
      margin-top: -1rem;
      height: 10rem;
      width: auto;
    }
    & i::before {
      font-size: 5rem;
      display: inline-block;
      font-family: "weathericons";
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      min-width: 5.4rem;
      text-align: center;
      color: #ccc;
      //   opacity: 0.8;
    }
  }

  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & input {
      padding: 1rem;
      border-radius: 20px;
      width: 35rem;
      border: none;
      transition: 0.5s all;
      &::placeholder {
        font-family: inherit;
        transition: 0.5s all;
      }
      //   border-top-left-radius: 25px;
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        opacity: 0;
      }
    }
    & .fa-search {
      position: absolute;
      right: 2%;
      top: 25%;
      font-size: 1.8rem;
      color: grey;
      transform: rotate(90deg);
    }
  }

  &__day {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #ccc;
    font-weight: 100;
  }
  .fa-map-marker-alt::before {
    font-family: "Font Awesome 5 Free";
    font-size: 1.4rem;
  }
  &__geolocation {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #ccc;
    font-weight: 100;
  }
}

.sunAnim {
  animation: sunRotate 7s linear infinite;
  // transform-origin: 50% 4px;
  margin-top: 1.4rem;

  &::before {
    color: yellow;
  }
}
