.search {
  overflow-y: scroll;
  position: relative;
  height: 65.8rem;
  background: url("../../assets/images/bg2.png");
  background-position: center;
  background-size: cover;

  &__form {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: 376px) and(max-height: 813px) {
      top: 7%;
    }
  }
  @media only screen and (max-width: 412px) {
    height: 100%;
  }
}
